<%= content_tag :h1, "Products" %>
<%= div_for @products do |product| %>
  <div>
    <%= content_tag :strong, product.name %>
  </div>
  <div class="body">
    <%= product.description %>
  </div>
  <div>
    <%= link_to('Click me', '#', class: 'js-more', 'data-id': product.id) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-more").on('click', function(){
      var p_id =  $(this).data('id');

      $("#product-" + p_id).text("");
      $.get("/products/" + p_id + "/description", function(resp) {
        $(".product_" +p_id+" div.body").append(resp);
      });
      $.get("/products/" + p_id + "/inventory", function(resp) {
        $(".product_" +p_id+" div.body").append(resp);
      });

    });
  });
</script>
